@import "mixin/fonts";
@import "variables";
@import "typografic/_typografic";

@include font-face('Lato', 'assets/fonts/lato/latolight', 300);
@include font-face('Lato', 'assets/fonts/lato/latoregular', 400);
@include font-face('Lato', 'assets/fonts/lato/latomedium', 500);
@include font-face('Lato', 'assets/fonts/lato/latosemibold', 600);
@include font-face('Lato', 'assets/fonts/lato/latobold', 700);
@include font-face('Lato', 'assets/fonts/lato/latoheavy', 800);
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //10px
}

body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem; //16px
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: $color-gray;
  padding: 5rem;
  background-color: $color-white;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  background-color: $backgroundColor;
}
