.header {
  height: 95vh;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url("../img/header-background.png") center / cover no-repeat;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
  position: relative;

  &__logo {
    position: absolute;
    top: 5rem;
    left: 5rem;
    height: 7rem;
    width: 5.6rem;
  }

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

}

.title-first {
  color: #fff;


  &__main {
    display: block;
    font-weight: 800;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    animation-name: leftToRight;
    animation-duration: 1.7s;
    animation-delay: 1s;
    animation-timing-function: ease;
    backface-visibility: hidden;
  }

  &__secondary {
    display: block;
    font-weight: 300;
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: 0.5rem;
    animation-name: rightToLeft;
    animation-duration: 1.7s;
    animation-delay: 1s;
    animation-timing-function: ease;
    backface-visibility: hidden;
    margin-bottom: 6.5rem;
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.btn {
  &:link, &:visited {
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 1.5rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 5rem;
    color: #777777;
    transition: all .3s;
  }

  &:hover {
    transform: translateY(-.4rem);
    box-shadow: (0px .4rem .4rem rgba(0, 0, 0, 0.2));

    &::after {
      opacity: 0;
      transform: scaleX(1.5) scaleY(1.7);
    }
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: (0px .4rem .4rem rgba(0, 0, 0, 0.1));
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5rem;
    z-index: -1;
    transition: all .3s;
  }

  &__animated {
    animation: btnToUp .5 ease-out .7s;
    animation-fill-mode: backwards;
  }
}